/* purgecss start ignore */

@tailwind base;
/* paginations */
/* .paginationBttns {
  width: 30%;
  height: 2.5rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.125rem;
  align-items: center;
  place-content: center;
}

.paginationBttns a {
  padding-left: 0.938rem;
  padding-right: 0.938rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  border: 1px solid #CCCCCC;
  color: #555555;
  cursor: pointer;
  background-color: white;
}

.paginationActive a {
  color: white;
  background-color: #C55E5E;
}

.paginationDisabled a {
  color: #AAAAAA;
}

a.previousBttn {
  border-bottom-left-radius: 0.313rem;
  border-top-left-radius: 0.313rem;
}

a.nextBttn {
  border-bottom-right-radius: 0.313rem;
  border-top-right-radius: 0.313rem;
} */

@tailwind components;

html {
  font-family: 'Hind';
}
body {
  @apply bg-w-50;
}
html, body {
  overflow-x: hidden;
}
p {
  @apply text-black-600;
}
.animation-hover:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  height: 2px;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  @apply w-0 bg-[#fff] left-1/2 block bottom-0 absolute;
}
.animation-active:after {
  @apply left-0 w-full;
}
.animation-hover:hover:after {
  @apply left-0 w-full;
}

li.custom-list:before {
  content: "\2022"; /* bullet point, for screen readers */
  text-indent: -9999999px; /* move the bullet point out of sight */

  width: 0.4em;
  height: 1em;
  background-repeat: no-repeat;

  background-size: 0.4em 0.7em;
  background-position: 0 0.3em;
  font-size: 300%;
  top: -0.35em;
  @apply absolute block;
}
li.circle-check:before {
  background-image: url("/assets/Icon/checklist.svg");
  left: -0.7em;
  top: -0.4em;
}
li.check:before {
  left: -0.5em;
  background-image: url("/assets/Icon/jam_check.svg");
  top: -0.5em;
  font-size: 400%;
}
/* Slideshow */
.slick-dots li {
  @apply inline-block;
}
.slick-dots span {
  @apply bg-gray-500;
}
.slick-dots .slick-active span {
  @apply bg-orange-500 rounded-l-full rounded-r-full w-12;
}

/* additional */
.scroll-to-top div:first-of-type {
  left: auto !important;
  right: 30px;
}

.scroll-top {
  position: fixed;
  bottom: 5%;
  right: 30px;
  display: none;
  z-index: 99;
}

/* mobile size adjust for bg image */
@media (max-width: 768px) {
  .bg-mobile-size {
    background-size: 250px 250px;
  }
}



/* purgecss end ignore */
@tailwind utilities;
/* purgecss start ignore */
/* purgecss end ignore */
